<%- include('./partial/header', {page: 'product'}); -%>
<div class="page-wrapper">

    <div class="page-content">

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Categories Overview</h4>
  </div>
</div>


<nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Categories</a></li>
                <li class="breadcrumb-item active" aria-current="page">Table View</li>
            </ol>
        </nav>

        <div class="row">
  <div class="col-md-12 col-xl-8 left-wrapper">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">All Categories List</h6>
          <p class="card-description">Select buttons to edit or remove caotegory from list.</p>
          <div class="table-responsive">
              <table class="table table-hover" id="pendor">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Category Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(cate) { %>
                    <tr>
                        <td><%= cate.id %></td>
                        <td><%= cate.title %></td>
                        <td>
                            <div class="icons">
                            <a href="#" class="icon" onclick="DeleteCategory('<%= cate.title %>')" value="<%= cate.title %>"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash text-muted" data-toggle="tooltip" title="" data-original-title="Delete"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                            </a>
                            </div>
                        </td>
                    </tr>
                    <% }); %>                           
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Table End -->
  <div class="d-none d-xl-block col-xl-4 right-wrapper">
    <div class="col-md-12 grid-margin">
      <div class="card rounded">
        <div class="card-body">
          <div class="latest-photos">
            <div class="">
              <div class="info text-center">
                <p class="name font-weight-bold mb-0" id="memberName">Add New Category</p>
              </div>
              <div class="mt-3">
                <label class="tx-11 font-weight-bold mb-0 text-uppercase">Category Name:</label>
                <div class="col-lg-8">
                    <input class="form-control" maxlength="250" name="insertTitle" id="defaultconfig" type="text" placeholder="Title" required>
                </div>
              </div>
              </br>
              <button class="btn btn-primary btn-block" id="addBtn" >ADD</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Infograph End -->
        </div> 
    </div>
<%- include('./partial/footer'); -%>

<script>
const addBtn = document.getElementById('addBtn');
      TitleInput = document.getElementsByName('insertTitle')[0];

addBtn.addEventListener('click', function() {
    if(TitleInput.value == ''){
        showSwal('basic');
    }else{
        $.ajax({
        type:"post",
        url:"/api/products/category" ,
        dataType: 'json',
        data: JSON.stringify({"name": TitleInput.value}),
        contentType: 'application/json'
        })
        .done(function(response){
            console.log("Response of delivery: ",response);
            if(response.success == true){
                showSwal('mixin');
                window.location.reload(false); 
            }else{
                alert(response.message);
            }
        })
        .fail(function(xhr, textStatus, errorThrown){
                console.log("ERROR: ",xhr.responseText);
                return xhr.responseText;
        });
    }
})

function DeleteCategory(x) {
    if(x == ''){
        showSwal('basic');
    }else{
        $.ajax({
        type:"post",
        url:"/api/products/category/delete" ,
        dataType: 'json',
        data: JSON.stringify({"name": x}),
        contentType: 'application/json'
        })
        .done(function(response){
            console.log("Response of delivery: ",response);
            if(response.success == true){
                showSwal('mixin');
                window.location.reload(false); 
            }else{
                alert(response.message);
            }
        })
        .fail(function(xhr, textStatus, errorThrown){
                console.log("ERROR: ",xhr.responseText);
                return xhr.responseText;
        });
    }
}
</script>
</body>
</html>