<%- include('./partial/header', {page: 'member'}); -%>

<div class="page-wrapper">

    <div class="page-content">

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Member Fullname</h4>
  </div>
</div>

<div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Email Address:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b><%= data.email %></b></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Mobile Number:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b>+256 <%= data.phone_number %></b></label>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Birth Date:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b><%= data.birthdate %></b></label>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Country Location:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b><%= data.location %></b></label>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Delivery Address:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b><%= data.address %></b></label>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Device Model:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b><%= data.device %></b></label>
                            </div>
                        </div>
                        <div class="form-group mb-0 row">
                            <div class="col-lg-3">
                                <label class="col-form-label">Registered Date:</label>
                            </div>
                            <div class="col-lg-8">
                                <label class="col-form-label"><b><%= data.date_created %></b></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Last 10 Products Purchased</h6>
                        <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                        </div>
                      </div>
                </div>
            </div>
        </div>	<!-- Form End -->			
    </div>

<%- include('./partial/footer'); -%>
</body>
</html>